/* =================
---GLOBAL-STYLES----
================== */

:root {
  --kis-green: rgb(16, 138, 83);
  --kis-shadow: 0 2px 4px rgba(0,0,0,0.1);
  --kis-bg: rgb(233, 255, 228);
  --kis-shadow : 0 2px 4px rgba(0,0,0,0.4)
}

* {
  margin: 0;
  padding: 0;
  font-family: inter;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--kis-green);
}
